receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  memory_limiter:
    check_interval: 1s
    limit_percentage: 75
    spike_limit_percentage: 15

  batch:
    timeout: 5s
    send_batch_size: 1024

  resource:
    attributes:
      - key: service.namespace
        value: desafio
        action: upsert
      - key: deployment.environment
        value: local
        action: upsert

exporters:
  debug:
    verbosity: detailed

  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true

  otlphttp/loki:
    endpoint: http://loki:3100/otlp

  otlphttp/mimir:
    endpoint: http://mimir:9009/otlp

  otlp/pyroscope:
    endpoint: pyroscope:4040
    tls:
      insecure: true

connectors:
  servicegraph:
    dimensions:
      - http.method
      - http.status_code
      - service.namespace
      - deployment.environment


service:
  telemetry:
    metrics:
      readers:
        - pull:
            exporter:
              prometheus:
                host: '0.0.0.0'
                port: 8888
  pipelines:

    traces:
      receivers: [otlp]
      processors: [memory_limiter, resource, batch]
      exporters: [otlp/tempo, servicegraph]

    logs:
      receivers: [otlp]
      processors: [memory_limiter, resource, batch]
      exporters: [otlphttp/loki]

    metrics:
      receivers: [otlp, servicegraph]
      processors: [memory_limiter, resource, batch]
      exporters: [otlphttp/mimir]

    profiles:
      receivers: [otlp]
      exporters: [debug,otlp/pyroscope]
